<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
    <div class="container"> <!-- debes -->
      <a class="navbar-brand" href="/">CedarStay</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/hotels">Hotels</a>
          <a class="nav-link" href="/hotels/new">New Hotel</a>
          <!--<a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
        </div>
        <div class="navbar-nav justify-content-end">
          <% if(!currentUser) { %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Sign Up</a>
          <% } else { %>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>